*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter';
}
.container{
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #23253A;
}
.header-container{
    width: 1920px;
    height: 105px;
    flex-shrink: 0;
    background: #212338;
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 50px;
    gap: 519px;
    .logo{
        margin-left: 283px;
        color: #FFF;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 47.619% */
        padding-top: 44px;
        padding-bottom: 44px;
    }
    nav ul{
        display: flex;
        list-style: none;
        gap: 40px;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 50% */
        padding-top: 44px;
        padding-bottom: 44px;
       li{
        &:hover{
            color: #BB2A2F;
            cursor: pointer;
            border-bottom: 1px solid black;
        }
       }
    }
}
.main-container{
    width: 1545px;
    height: 949px;
    flex-shrink: 0;
}
.text-container {
h1{
    color: #FFF;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 200px;
    padding-left: 275px;
}
p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 50% */
    flex-shrink: 0;
    margin-left: 275px;
    margin-top: 50px;
}
.butons{
    margin-left: 275px;
    margin-top: 58px;
    gap: 36px;
    button{
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 50% */ 
        border-radius: 10px;
        background: #BB2A2F;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 54px;
        padding-right: 10px;
        border: none;
        align-items: center;
        cursor: pointer;
    }
}
}
.image-container {img{
    margin-left: 855px;
    width: 1057px;
    height: 804px;
    flex-shrink: 0;
    margin-top: -420px;
}
.img1{
    margin-top: -1245px;
}
}

.one-container{
    width: 2414.388px;
    height: 1669.939px;
    flex-shrink: 0;
    h1{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    margin-top: 200px;
    font-weight: 400;
    margin-left: 275px;
    line-height: 12px; /* 37.5% */
    margin-bottom: 67px;
    }
    h2{
        color: #BB2A2F;
        font-size: 62px;
        font-style: normal;
        font-weight: 400;
        margin-left: 275px;
        line-height: 12px; /* 19.355% */
    }
    .hr{
        width: 201px;
        height: 4px;
        background-color: #BB2A2F;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.25);
        margin-top: 35px;
        margin-left: 275px;
    }
}
.block{
    display: flex;
    gap: 50px;
    margin-left: 275px;
 .item{
    width: 351px;
    height: 320px;
    flex-shrink: 0;
    background: #2B2E41;
    box-shadow: 40px 40px 40px 0px rgba(0, 0, 0, 0.25);
    margin-top: 76px;
    img{
        margin-top: 33px;
        margin-left: 33px;
    }
    h4{
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 33px;
        margin-top: 16px;
    }
    p{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 33px;
        margin-top: 20px;
    }
    .fe{
        color: #BB2A2F;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 33px;
        margin-top: 50px;
    }
}
}




